
*{
    box-sizing: border-box;
}

html{
    font-family: 'Roboto';
    color: #75B79E;

    background-color: #EEF9BF;
}


body{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

}


header{
    width: 80vw;
    margin-top: 40px;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    text-align: center;

}

.container{
    padding: 50px 122px 150px 122px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

}


ul{
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;

    align-items: center;
    justify-content: center;
}

.carta{
    width: 117px;
    height: 146px;

    display: flex;
    flex-wrap: wrap;

    position: relative;
}

img{
    width: 100%;

}


.frente{
    width: 100%;
    height: 100%;

    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;

    position: absolute;
    top:0px;
 
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .5s ease-in;
    transform-style: preserve-3d;

}

.verso{
    width: 100%;
    height: 100%;

    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    border-radius: 5px;

    background-image: url(./assets/front.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: fit;

    display: flex;
    flex-wrap: wrap;

    position: absolute;
    top:0px;

    backface-visibility: hidden;
    transition: all .5s ease-in;
    transform-style: preserve-3d;



}

.virarfrente{
    transform: rotateY(0deg);
}

.virarverso{
    transform: rotateY(-180deg);
}

.timer{
    width: fit-content;
    height: fit-content;

    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px;

    position: fixed;
    top: 10px;
    right: 10px;

    font-size: 18px;
    text-align: center;
    text-justify: distribute;
}

@media only screen and (max-width: 400px){

header{
    font-size: 36px;
    line-height: 42.19px;
}

.container{
    width: 100%;

    padding: 20px 109px;
    }
}

